@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&family=Koulen&display=swap');



/* SLICK Slider */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    margin-left: 0.5rem;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
body{
    font-family: Inter;
    margin: 0;
    border:0;
    background-color: #F6F6F6;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
header {
    background-color: #ffffff;
}
.b_logo_text {
    font-family: 'Koulen', cursive;
    font-size: 38px;
    color: #E02800;
    margin-left: .5rem;
    line-height: unset;
}
.b_header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.b_logo__container {
    display: flex;
    align-items: center;
}
.m-active {
    font-weight: bolder;
}
.b_menuLinks {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.b_menuLinks li {
   margin-left: 2.5rem;
}
header img {
    vertical-align: baseline;
}
section {
    padding: 5rem 0;
}
.b_portfolio__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b_portfolio__text {
    font-weight: 900;
    font-size: 60px;
}
.b_portfoliio__filter {
    margin-right: 20px;
    font-size: 15px;
    position: relative;
}
.b_portfoliio__filter::after {
    content: "▼";
    position: absolute;
    right: -20px;
    top: 2px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
}
.b_portfoliio__filter::before {
    content: '';
    position: absolute;
    z-index: 20;
    width: 140%;
    height: 120%;
    cursor: pointer;
}
.b_filter__list {
    opacity: -1;
    transition: all .5s;
    padding: 2rem;
    position: absolute;
    overflow-y: scroll;
    right: -50%;
    width: 250px;
    height: 300px;
    z-index: -10;
    background-color: #F6F6F6;
   filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.15));
   -webkit-filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.15));
  }
.b_portfoliio__filter:hover .b_filter__list {
    opacity: 1;
    z-index: 100;
    padding: 2rem 0.5rem;
    position: absolute;
    right: 0;
    width: 250px;
    height: 300px;
    overflow-y: scroll;
    background-color: #F6F6F6;
   filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.15));
   -webkit-filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.15));
}

.b_filter__list ul {
    list-style-type: none;
    padding-left: 0;
}
.b_cardList__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.b_card_img,.b_card_img img {
    object-fit:cover;
    width: 100%;
    aspect-ratio: 3/2;
    position: relative;
   
}
.b_card_img span {
    top: 47%;
    left: 37%;
    z-index: -50;

}
.b_card_img:hover span {
    top: 48%;
    left: 35%;
    z-index: 500;
    transition: all .3s;
}
@supports (backdrop-filter: blur()){
    .b_card_img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.1s;
      }
    .b_card_img:hover::after {
        content: '';
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(10x);
    }
}
@supports not (backdrop-filter: blur()) {
    .b-mask {
        -webkit-backdrop-filter: blur(10px); 
        backdrop-filter: blur(10px); 
        position: absolute; 
        background-color: rgba(181, 181, 181, 0.48);
        width: 100%; 
        height: 100%;
        top: 0;
        z-index: -1;
        transition: all .3s;
    }
    .b_card_img:hover .b-mask{
        z-index: 100;
        transition: all .3s;
    }
}

.b_cardItem {
    background-color: #ffffff;
    margin: 1rem 0;
}
.b_cardItem:nth-child(3n-1) {
    margin: 1rem 0.5rem;
}
.b_cardItem:nth-child(3n+1) {
    margin: 1rem 1rem 1rem 0;
}
.b_cardItem:nth-child(3n) {
    margin: 1rem 0 1rem 1rem;
}
.b_card__description {
    padding: 1rem 1.5rem;
}
.b_card__title {
    font-size: 24px;
    font-weight: 900;
}
.b_card__text {
    font-size: 12px;
    font-weight: 300;
}
footer {
    background-color: #1D1D1D;
    color: #ffffff;
}
footer a {
    color: #ffffff;
}
.b_footer__container {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
}
h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: #363333;
}
.b_projectDetail__mainDesc {
    padding: 2rem 15rem;
    font-size: 18px;
    color: #171717;
}
.b_otherPhotoGrid__title {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}
.b_projectDetail__oddPhotoGrid, .b_projectDetail__evenPhotoGrid{
display: grid;
grid-gap: 20px;
margin-bottom: 40px;
}

.b_photoGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}
.b_photoGrid > *:nth-child(4n + 1),
.b_photoGrid > *:nth-child(4n + 4) {
  grid-column: auto / span 4;
}
.b_photoGrid > *:nth-child(4n + 2),
.b_photoGrid > *:nth-child(4n + 3) {
  grid-column: auto / span 3;
}



.photo img{
    width: 100%;
    object-fit: cover;
    height: 400px;
}
.photo {
    height: 400px;
}
.b_personDesc__title {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 60px;
}
.b_personDesc__text {
    font-size: 18px;

}
.b_personDesc__bloquote {
    font-style: italic;
    font-size: 18px;
    color:#797979;
}
.b_about__personDesc {
    display: flex;

}
.b_personDesc_photo img{
    width: 90%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.b_about__title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 4rem;
}
.b_about__skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.b_skillsGrid__item {
    flex: 1 200px
}
.b_skillsGrid__item {
    font-size: 25px;
    font-weight: 400;
    margin: 1rem;
}
.b_about__skillsGrid {
    padding: 74px 62px;
    background-color: #ffffff;
    margin: 2rem 0;
}
.b_about__certificatesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.b_about__certificatesGrid>*{
    width: 100%;
    margin: .5rem;
}
.b_about__certificatesGrid  img{
    height: 300px;
    object-fit: cover;
}
.modal {
    backdrop-filter: blur(20px);
    background: #0000007d;
    -webkit-backdrop-filter: blur(10px);
}
.b_modal_body {
    margin: 10rem auto;
    background-color: #ffffff;
    color: #171717;
    position: relative;
    padding: 3rem 10rem 5rem 10rem;
}
.modal .b_modal_body a{
    color: #171717;
}
.modal .b_modal_title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.5rem;
}
.modal .b_modal_contactFrom {
    display: flex;

}
.modal .b_modal_contactFrom>*{
    width: 50%;
    padding-right: 1rem;
}
.modal .b_contact_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.modal .form_control input, textarea, select{
    background-color: #FAFAFA;
    border: none;
    max-width: 400px;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: .5rem;

}
.modal form {
    display: flex;
    flex-direction: column;
}
.modal .form_control {
    position: relative;
}
.modal .form_control input {
    height: 2rem;
    
}
.modal textarea {
    height: 6rem;
    
}
.modal label {
    position: absolute;
    font-size: 14px;
    top: 5%;
    left: 2%;
    transition:all .3s ;
}
.modal .b_modal_contactInfo ul{
    list-style-type: none;
    padding-left: 0;
}
.modal .b_modal_contactInfo ul li{
    margin-bottom: 1rem;
}
.b_btn {
    background-color: #E02800;
    padding: .5rem 1.2rem;
    color: #FAFAFA;
    text-align: center;
    font-size: 18px;
    border: none;
    max-width: 200px;

}
 input:focus~label, input:required:valid~label, textarea:optional:invalid~label, textarea:focus:valid~label, textarea:required:valid~label{
    top: -1.1rem;
    font-size: 10px;
}
.b_modal_body::after, .b_modal_closeX {
    content: '\00d7';
    cursor: pointer;
    position: absolute;
    transform: scale(4);
    top: -35px;
    right: -30px;
}
.b_modal_closeX {
    position: absolute;
    width: 10px;
    height: 15px;
    top: -30px;
    right: -30px;
    z-index: 100;
}
.block {
    overflow: hidden;
}
.b_card_callToAction {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.b_card_callToAction a{
  color: #F6F6F6;
}
.b_portfoliio__desc {
    margin: 2rem 0;
}
#skill_selection {
    background: #FAFAFA;
    padding: 10px;
    border: none;
}
.b-btn_show_more {
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-btn_show_more .b_btn:hover {
    background-color: #E02800;
    padding: 0.5rem 1.2rem;
    color: #FAFAFA;
    text-align: center;
    font-size: 18px;
    border:  1px solid #E02800;
    max-width: 200px;
    transition: all .3s;
}
.b-btn_show_more .b_btn {
    background-color: #ffffff;
    padding: 0.5rem 1.2rem;
    color: #000000;
    text-align: center;
    font-size: 18px;
    border:  1px solid #E02800;
    max-width: 200px;
    box-sizing: border-box;
    transition: all .3s;
}
[data-hidden="true"] {
    display: none!important;
} 
[data-hidden="false"] {
    display: flex!important;
} 


.show_more {
    cursor: pointer;
}
@media screen and (max-width: 993px) {
        .b_cardList__grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .b_about__skillsGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        
        }
        .b_filter__list {
            opacity: -1;
            transition: all .5s;
            padding: 2rem;
            position: absolute;
            right: 0;
            width: 250px;
            z-index: -10;
            background-color: #F6F6F6;
            filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.15));
        }
        .b_personDesc__title {
            text-align: center;
            margin-top: 2rem;
        }
        .b_portfoliio__filter::before {
            content: '';
            position: absolute;
            z-index: 20;
            width: 100%;
            height: 120%;
            cursor: pointer;
        }
        .photo img {
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
        
        .b_about__title {
            margin-top: 1rem;
            font-size: 26px;
        }
        .b_personDesc__title {
            font-size: 30px;
        }
        .b_skillsGrid__item {
            font-size: 16px;
            font-weight: 400;
            margin: .3rem;
        }
        .b_about__skillsGrid {
            padding: 20px;
            background-color: #ffffff;
            margin: .5rem 0;
        }
        .b_logo_text {
            font-size: 28px;
        }
        .b_personDesc__text {
            font-size: 14px;
        }
        .b_portfolio__text {
            font-size: 25px;
            margin-right: 1rem;
        }
        section {
            padding: 2rem 0;
        }
        .b_portfoliio__filter {
            margin-right: 30px;
        }
        .b_projectDetail__mainText h1 {
            font-size: 30px;
            
        }
        .b_projectDetail__mainDesc {
            padding: 0;
            font-size: 14px;
        }
        .b_otherPhotoGrid__title {
            font-size: 26px;
        }
        .b_portfoliio__filter {
            margin-right: 20px;
            font-size: 13px;
            position: relative;
        }
        .b_photoGrid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 8px;
        }
        .b_photoGrid > *:nth-child(4n + 1),
        .b_photoGrid > *:nth-child(4n + 4) {
            grid-column: auto;
        }
        .b_photoGrid > *:nth-child(4n + 2),
        .b_photoGrid > *:nth-child(4n + 3) {
            grid-column: auto ;
        }
        .photo {
            height: 300px;
        }
        .b_modal_body {
            padding: 1rem;
            margin: 3rem auto;
        }
        .b_modal_closeX {
            position: absolute;
            width: 10px;
            height: 15px;
            top: 0;
            right: 20px;
            z-index: 100;
        }
        .b_modal_body::after, .b_modal_closeX {
            content: '\00d7';
            cursor: pointer;
            position: absolute;
            transform: scale(4);
            top: 10px;
            right: 20px;
        }
        .modal .b_modal_title {
            font-size: 34px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
        }
}
@media screen and (max-width: 450px) {
    .b_modal_contactFrom {
        flex-direction: column;

    }
    .modal .b_modal_contactFrom>* {
        width: 100%;
        padding-right: 1rem;
    }
    .modal .b_contact_title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
}
#tagItem {
    padding: 0.3rem 0.9rem;
    border-radius: 0.5rem;
}
#tagItem:nth-of-type(odd){
    background-color: #dadada;
    padding: 0.3rem 0.9rem;
    border-radius: 0.5rem;
}
@media (max-width: 700px) {
    .photo img {
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    .b_modal_body img {
        width: 100%;
    }
    .photo {
        height: 200px;
    }
    .b_about__certificatesGrid  img{
        height: 200px;
        object-fit: cover;
    }
    body {
        font-size: 14px; /* Adjust base font size for better readability on smaller screens */
    }
    .b_about__skillsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .b_header__container {
        flex-direction: column; /* Stack logo and menu vertically */
        text-align: center; /* Center align text */
    }
    .b_about__personDesc {
        flex-direction: column;
    }
    .b_logo_text {
        margin-top: 10px; /* Add some space above the logo text */
    }

    .b_menu__container {
        margin-top: 10px; /* Add space between logo and menu */
    }

    .b_menuLinks {
        justify-content: center; /* Center align menu items */
        margin: 10px 0; /* Add some space around menu items */
    }

    .b_menuLinks li {
        margin: 0 10px; /* Add space between menu items */
    }

    .b_cardList__grid {
        grid-template-columns: repeat(1, 1fr); /* Display one card per row on smartphones */
        gap: 0; /* Add some space between cards */
    }

    .b_personDesc__title {
        margin-left: 0;
        }
    .b_cardItem:nth-child(3n-1) {
        margin: 0 0 1rem 0;
    }
    .b_cardItem:nth-child(3n+1) {
        margin: 0 0 1rem 0;
    }
    .b_cardItem:nth-child(3n) {
        margin: 0 0 1rem 0;
    }
    .b_card__description {
        padding: 1rem; /* Add padding to card descriptions */
    }
    .b_card__title {
        font-size: 20px; /* Decrease font size for card titles */
    }

    .b_card__text {
        font-size: 14px; /* Decrease font size for card text */
    }

    .b_card_callToAction {
        justify-content: center; /* Center align "Заказать" button */
    }

    .b_btn {
        max-width: none; /* Allow button to take full width */
    }

    .b_footer__container {
        flex-direction: column; /* Stack footer content vertically */
        align-items: center; /* Center align footer content */
    }

    .b_footer__contacts {
        margin-top: 20px; /* Add space between email and phone */
    }

    .b_footer__email, .b_footer__phone {
        margin: 10px 0; /* Add space around contact information */
    }
    .b_personDesc_photo img{
        width: 100%;
       
    }
   
}
@media screen and (max-width: 450px) {
    .b_about__certificatesGrid>* {
        width: 90%;
    }
}